@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@layer base {
 html, body{
    padding: 0;
    margin: 0;
    @apply bg-[#0B0C0F] text-gray-300;
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 10px;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}

.container{
  @apply max-w-[1270px] mx-auto px-4;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide, .swiper-slide-prev {
  background: transparent;
}

.swiper-button-prev, .swiper-button-next{
  @apply bg-slate-800 h-[40px] w-[40px] rounded-full overflow-hidden p-1;
  // background: url('/icons/prev.svg');
}
.swiper-button-next::after{
  content: url('/icons/next.svg') !important;
  display: block;
  color: #fff;
}

.swiper-button-prev::after{
  content: url('/icons/prev.svg') !important;

}

.swiper-button-prev.swiper-button-disabled{
  display: none !important;
}

.swiper-button-next.swiper-button-disabled{
  display: none !important;
}

.slick-slide{
  padding: 0 30px;
}

.swiper-pagination{
  @apply text-right pr-4
}

.swiper-pagination-bullet {
	@apply h-[1rem] w-[1rem] rounded-full bg-slate-100
}
.swiper-pagination-bullet-active {
	@apply bg-green-600
}

/* Define the size */
.svg-indicator {
  width: 100px;
  height: 100px;
}

/* 
 * Add the center and the radius using the size 
 * and `stroke-width` values.
 */
.svg-indicator-track,
.svg-indicator-indication {
  cx: 50px;
  cy: 50px;
  r: 40px;
  fill: transparent;
  stroke-width: 10px;
}

/* Some color to highlight the rings */
.svg-indicator-track {
  stroke: #ddd;
}

.svg-indicator-indication {
  stroke: rgb(90, 91, 91);
  stroke-dasharray: 251.2px;
  stroke-dashoffset: 188.4px;
}
